@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root {
    --fonte1: Arial, Verdana, Helvetica, sans-serif;
    --fonte3: 'League Gothic', sans-serif
}

body {
    min-height: 100vh;
}
h1 {
    background-color: black; margin: auto;
}
h1 > p {
    color: white; text-align: center;
}
#título {
    font-family: var(--fonte3); font-size: 12vw; font-variant: small-caps; margin-top: 0px; margin-bottom: 6px;
}
#minitítulo {
    font-family: var(--fonte1); font-size: 2vw; margin-top: auto; margin-bottom: 0px; padding-bottom: 45px;
}

#minitítulo:visited  {
    color: darkred;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
}

.fonteescura {
    font-family: var(--fonte1); color:  black; font-style: italic; font-weight: bolder; font-size: 2vw ;
    line-height: 3em;; 
}

#caixa {
    background-image: url(imagens/background001.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;   
    width: 100vw;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}
 
#fonteclara {
    color: white;  
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    font-size: 3.5vw ;
    line-height: 1.8em;
    box-shadow: inset 6px 6px 13px;
    display: inline-block;
    width: 40%;
    height: 67%;
    
}