@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    margin: 0px
}

* {
    padding: 0px
}

:root {
    --fonte1: Arial, Verdana, Helvetica, sans-serif;
    --fonte3: 'League Gothic', sans-serif
}

html, body {
    min-height: 100vh; background-color: darkgray;
}
header {
    background-color: black; text-align: center; color: white; font-variant: small-caps; padding-top: 50px; padding-bottom: 50px;
}
header > p > a {
    color: white; text-align: center;  text-decoration: none;  color: red;
} 

header > p {
    padding-bottom: 50px; padding-top: 50px;
}

#título{
    font-family: var(--fonte3); font-size: 10vw; color: white;  
}

#minitítulo {
    font-family: var(--fonte3); font-size: 3vw; font-weight: bolder;
}

#minitítulo > a:hover {
    color: blue;  text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

.fonteescura {
    font-family: var(--fonte1);
    color:  black; 
    font-style: italic; 
    font-weight: bolder; 
    font-size: 3.5vw ;
    line-height: 1.8em; 
    background-color: white;
}
 
.fonteclara {
    background-image: url(imagens/background001.jpg);
    color: white;  
    background-color: rgba(37, 3, 3, 0.87);
    background-size: cover;
    background-attachment: fixed;
    font-size: 3.5vw ;
    line-height: 1.8em;
    box-shadow: inset 6px 6px 13px;       
}

.fonteclara2 {
    background-image: url(imagens/background002.jpg     );
    color: white;  
    background-color: rgba(37, 3, 3, 0.87);
    background-size: cover;
    background-attachment: fixed;
    font-size: 3.5vw ;
    line-height: 1.8em;
    box-shadow: inset 6px 6px 13px;  
}